.navbar-container {
    background-color: rgb(0, 59, 107);
    display: flex;
    padding: 20px;
    flex: 1;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
}

.welcomeMsg {
    color: gold;
    font-size: 1.1rem;
}

.navbar-container a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.navbar-container-general {

}
.navbar-container-notifications h2 {
    margin-top: 0;

}

.notificationStatus-All {
    color: rgb(121, 121, 172) !important;
}

.notificationStatus-Start {
    color: rgb(91, 193, 91) !important;
}

.notificationStatus-Running {
    color: orange !important;
}

.notificationStatus-Final {
    color: rgb(121, 124, 86) !important;
}