.navbar-container {
    background-color: rgb(0, 29, 53);
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 1em;
}

.navbar-container-elements {
    background-color: rgb(0, 29, 53);
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 1em;
    margin-right: 2em;
}

.navbar-container-general {
    background-color: rgb(0, 59, 107);
    padding: 1em;
    border-radius: 20px;
    height: fit-content;
}

.navbar-container-notifications {
    background-color: rgb(0, 66, 121);
    padding: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-radius: 20px;

}
.navbar-container-notifications h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
}
li.notificationStatus-All {
    text-align: end;
}


.navbar-container-cartWidget {
    position: absolute;
    right: 10px;
}

    