#notifications-container {
    padding: 20px;
}

#notifications-header-item-logo {
    color: white;
}


#notifications-container-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;   
    margin: 20px;
    margin-top: 20px;
}


.notificationCard {
    background-color: seashell;
}