.notifications-counter button > * {
  background-color: orange;
  color: black;
  font-weight: bold;
  width: 5ch;
  height: auto;
  margin: 0;
  padding: 2px;
  justify-content: center;
}

.notifications-counter span {
  color: black;
  font-weight: bold;

}