.notificationCard {
    max-width: 350px;
    min-width: 300px;
    height: auto;
}

.notificationCard > div {
    justify-content: start;
}


.notificationCardImg {
    width: 60px;
    height: auto;
    object-fit: cover;
    border-radius: 20px 20px 0 20px;
}