.productDetail {
    background-color: lightgoldenrodyellow;
    display: block;
    justify-content: fit-content;
    justify-self: center;
    width: 60%;
    padding: 20px;
    padding-right: 2px;
    padding-top: 2px;
    border-radius: 10px;
    margin: 40px;
}
.productDetail #btnClose {
    background-color: transparent;
    color: black;
    justify-self: end;
}

.productDetail button:hover {
    background-color: black !important;
    color: lightgray;

}

.productDetail ul {
    margin-top: 10px;
    display: block;
}

.notificationCardImg {
    width: 180px;
    height: auto;
    object-fit: cover;
    border-radius: 20px 20px 0 20px;
    justify-self: center;
    margin: 20px;
}
